<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="perriobarreteau.apprentissagemusique">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LectureDeNote_Button"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".DicteeDeNote_Button"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".Accordeur"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DicteeVocale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LectureDeNote_Note"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".LectureDeNote_Speech"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".DicteeDeNote_Speech"
            android:screenOrientation="landscape"
            />
    </application>

</manifest>